<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blogware-Register</title>
</head>
<body>
    <div class="container">
    <div  class="card mt-4">
    <div class="container">
<h1 class="mb-4">Register</h1>
<form action="/register" method="POST">
    <div class="card-text mb-2">
        <label class="card-title" for="name">Name</label>
        <input class="card mt-1 required type="text" id="name" name="name">
    </div>
    <div class="card-text mb-2">
        <label class="card-title" for="email">Email</label>
        <input class="card mt-1 required type="email" id="email" name="email">
    </div>
    <div class="card-text mb-2">
        <label class="card-title" for="password">Password</label>
        <input class="card mt-1" required type="password" id="password" name="password">
    </div>
    <button class="btn btn-primary mt-2" type="submit">Register</button>
</form>
<label class="card-title mt-2">Already a User?   </label>
<a class="btn btn-dark mb-2" href="/login">Login</a>
</div>
</div>
</div>
</body>
</html>