<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blogware</title>
</head>
<body>
    <div class="container card-body">
       <h1 class="mb-4"><%= article.title %></h1>
       <div class="card-title text-muted mb-4"> Created At: 
           <%= article.createdAt.toLocaleDateString() %>
        </div>
        <div class="card-text mb-4">
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" 
            class="btn btn-info">Edit</a>
        </div>
        <div class="blockquote mb-1"> Contents:</div>
        <div  class="card mt-2">
        
        <div class=" card-header">
        <%- article.sanitizedHtml %>
        </div>
        </div>
    </div>
</body>
</html>